.cate{
    padding:2rem;
    background-color: white;
    border-radius: 5px !important;
    display: flex;
    justify-content:center!important;
    &-div{
        flex-wrap: wrap;
        display: flex !important;
        justify-content: center !important;
    }
    &-item{
        cursor: pointer;
        &-content{
            &-label{
                display: flex !important;
                align-items: center;
            }
        }
    }

}

@media (max-width: 815px) { 

    .cate{
        padding:0rem;
        border: 1px solid #c7c7c7;
        display: flex!important;
        justify-content: flex-start !important;
        &-div{
            display:block !important;
            flex-wrap: wrap;
        }
        &-item{
            cursor: pointer;
            display:block !important;
        }
        &-hr{
            border:none;
            border-left: 0px;
            width: 0px;
            height: 1% !important;
        }
    }
} 




//style={{border: "none",
    //borderLeft: "2px solid hsla(10, 20%, 50%,1)",
    //height: "50%",
    //width: "10px"}}